body, html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffeead;
    height: 100%;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 100%;
    grid-template-rows: 100px auto 100px;
    text-transform: uppercase;
    font-size: 30px;
    color: #ffeead;
    grid-gap: 0px;
    grid-template-areas: 
    "m m e e e e e e e e e e"
    "m m c c c c c c c c c c"
    "m m p p p p p p p p p p"
    ;
}
.contenedor > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.encabezado{
    background-color: #96ceb4;
    grid-area: e;
}

.menu{
    background-color: red;
    grid-area: m;
}

.contenido{
    background-color: #88d8b0;
    grid-area: c;
}

.pie{
    background-color: yellow;
    grid-area: p;
}

@media (max-width: 500px){
    .contenedor{
        grid-template-rows: 80px 150px auto 80px;
        grid-template-areas: 
        "e e e e e e e e e e e e"
        "m m m m m m m m m m m m"
        "c c c c c c c c c c c c"
        "p p p p p p p p p p p p"
        ;
    }
}